torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
matplotlib
argparse
lpips
plyfile
pytorch_msssim
open3d
imageio[ffmpeg]
tensorboard
ninja
numpy
jaxtyping
rich

--index-url https://docs.gsplat.studio/whl/pt24cu118
gsplat