--index-url https://download.pytorch.org/whl/rocm6.1

--extra-index-url https://pypi.org/simple

--extra-index-url https://docs.gsplat.studio/whl/pt24cu118

torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1

matplotlib
argparse
lpips
plyfile
pytorch_msssim
open3d
imageio[ffmpeg]
tensorboard
ninja
numpy
jaxtyping
rich

gsplat
