--index-url https://pypi.org/simple

--extra-index-url https://download.pytorch.org/whl/cu118

torch==2.1.2+cu118
torchvision==0.16.2+cu118

matplotlib
argparse
lpips
plyfile
pytorch_msssim
open3d
imageio[ffmpeg]
tensorboard
ninja
numpy==1.26.4
jaxtyping
rich

opencv-python-headless
mmcv-full
gsplat